p {
    color: black;
    font-size: 1.25rem;
    line-height: 0;
    font-weight: 500;
}

.aff_comingsoon {
    background: #F9DA4C;
}

.aff_logo2 {
    display: flex;
    justify-content: center;
    padding-top: 2.2rem;
    padding-bottom: 2rem;
}

.aff_maintext {
    color: #FFF;
    width: 53.0625rem;
    text-align: center;
    font-family: Outfit;
    font-size: 6.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 101%;
    margin: 2rem;
}

.aff_title {
    display: flex;
    justify-content: center;
}

.aff_socials_button {
    background: none;
    border: 1px solid white;
    border-radius: 50%;
    padding: 1.44rem;

}

.aff_socials_container {
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: center;
    gap: 1.56rem;
}

@media (max-width: 840px) {
    .aff_maintext {
        font-size: 4.7rem;
        width: 100%;
    }

    p {
        font-size: 1rem;
    }

    .aff_logo2 {
        padding-top: 1.8rem;
        padding-bottom: 1.6rem;
    }

    .logo2 {
        width: 193px;
        height: 80px;
    }
}

@media (max-width: 647px) {
    .aff_maintext {
        font-size: 3.2rem;
        width: 100%;
        margin: 0.6rem;
    }

    p {
        font-size: 1rem;
    }

    .aff_logo2 {
        padding-top: 1.8rem;
        padding-bottom: 1.7rem;
    }

    .aff_socials_button {
        padding: 1rem;
        text-align: center;
    }

    .aff_socials_container {
        position: fixed;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
  margin: 0 auto;
    }
}

@media (max-width: 418px) {
    .aff_maintext {
        font-size: 2.5rem;
        width: 100%;
        margin: 0.6rem;
    }

    .aff_logo2 {
        padding-top: 4rem;
        padding-bottom: 1rem;
    }

    .aff_socials_button {
        padding: 0.8rem;
    }
}